body{
	font-family: 'Monstserrat', sans-serif;
	background-color: #ffc310;

}

.gallery {
	margin: 100px 180px;

}

.gallery img{
	transition: .5s;
	
	width: 280px;
}

.gallery img:hover {
	filter: grayscale(100%);
	transform: scale(1.03);
}



